Repository softflow24/data-river, pull requests merged in 2024-10, with the labels that each got.

#95 Create README.md
  docs/README.md
Labels: documentation, chore

#102 Fix(automation) - Publish tags correctly
  .github/actions/build-docker/action.yml
Labels: bug

#114 fix quicklinks
  packages/execution-engine/src/ExecutionEngine.ts
  packages/www/app/components/Footer.tsx
Labels: bug

#123 Trunk Based Development ci-cd.yml
  .github/workflows/ci-cd.yml
Labels: Automation, pr:awaiting-answear

#133 Added the appropriate tags for new issues made using templates
  .github/ISSUE_TEMPLATE/1.bug.yml
  .github/ISSUE_TEMPLATE/2.feature.yml
Labels: enhancement, pr: needs review

#125 Fix statistics on landing page
  packages/www/app/components/StorySection.tsx
  packages/www/app/routes/_index.tsx
  packages/www/package.json
  pnpm-lock.yaml
Labels: pr: bugfix

#119 Landing page - Subscribe to newsletter
  packages/www/app/components/Footer.tsx
  packages/www/app/root.tsx
  packages/www/app/routes/api.email-subscription.ts
  packages/www/package.json
  pnpm-lock.yaml
Labels: pr: bugfix, pr:awaiting-answear

#157 Chore: Align theming between light and dark theme in editor
  packages/editor/src/components/Flow.tsx
  packages/editor/src/components/MonacoEditorWrapper.tsx
  packages/editor/src/components/NodeIcon.tsx
  packages/editor/src/components/controls/ActionToolsControls.tsx
  packages/editor/src/components/controls/top-right-controls/RunWorkflowButton.tsx
  packages/editor/src/components/controls/top-right-controls/index.tsx
  packages/editor/src/components/nodeComponents/LogicBlock/ConditionsSummary.tsx
  packages/editor/src/index.tsx
  packages/editor/src/slices/layoutSlice.ts
  packages/editor/src/slices/reactFlowSlice.ts
  packages/shared/package.json
  packages/shared/src/ui/components/ui/sonner.tsx
  packages/shared/src/ui/hooks/useTheme.ts
  packages/shared/tailwind.config.ts
  pnpm-lock.yaml
Labels: enhancement, pr: refactor, chore

#171 Fixed eslint on windows, commented out failing code
  .gitattributes
  eslint.config.mjs
  packages/blocks/src/logicBlock/conditionEvaluator.ts
Labels: bug
