Repository softflow24/data-river, pull requests merged in 2024-09, with the labels that each got.

#58 Feat/editor refactor smaller components
  package.json
  packages/client/tailwind.config.ts
  packages/client/vite.config.ts
  packages/editor/package.json
  packages/editor/src/Editor/components/controls/ActionToolsControls.tsx
  packages/editor/src/Editor/components/controls/ControlButton.tsx
  packages/editor/src/Editor/components/controls/ControlSeparator.tsx
  packages/editor/src/Editor/components/controls/MiniMapZoomControls.tsx
  packages/editor/src/Editor/components/controls/UndoRedoControls.tsx
  packages/editor/src/Editor/components/controls/index.tsx
  packages/editor/src/Editor/components/customNode.tsx
  packages/editor/src/Editor/components/flow.tsx
  packages/editor/src/Editor/components/initialEdges.ts
  packages/editor/src/Editor/components/initialNodes.ts
  packages/editor/src/Editor/components/nodeTypes.tsx
  packages/editor/src/Editor/index.tsx
  packages/editor/src/index.tsx
  packages/editor/tsconfig.json
  pnpm-lock.yaml
Labels: pr: refactor, chore

#59 Fix/fix hoisting
  .npmrc
  packages/editor/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: bug

#61 Update README.md
  README.md
  USE_CASE_EXAMPLES.md
Labels: documentation, chore

#64 Fix/cleanup packages and build
  package-lock.json
  package.json
  packages/client/app/components/ui/chart.tsx
  packages/client/app/root.tsx
  packages/client/vite.config.ts
  packages/editor/src/Editor/components/controls/ActionToolsControls.tsx
  packages/editor/src/Editor/components/controls/ControlButton.tsx
  packages/editor/src/Editor/components/controls/ControlSeparator.tsx
  packages/editor/src/Editor/components/controls/MiniMapZoomControls.tsx
  packages/editor/src/Editor/components/controls/UndoRedoControls.tsx
  packages/editor/src/Editor/components/controls/index.tsx
  pnpm-lock.yaml
Labels: bug, chore

#71 feat(execution-engine): implement basic execution functionality
  package.json
  packages/blocks/src/blockFactory/index.ts
  packages/blocks/src/inputBlock/index.ts
  packages/blocks/src/outputBlock/index.ts
  packages/client/package.json
  packages/execution-engine/jest.config.js
  packages/execution-engine/package.json
  packages/execution-engine/src/ExecutionEngine.ts
  packages/execution-engine/src/VariableResolver.ts
  packages/execution-engine/src/config/ExecutionEngineConfig.ts
  packages/execution-engine/src/di/container/index.ts
  packages/execution-engine/src/factory.ts
  packages/execution-engine/src/index.ts
  packages/execution-engine/src/strategies/BrowserExecutionStrategy.ts
  packages/execution-engine/src/strategies/ServerExecutionStrategy.ts
  packages/execution-engine/tsconfig.json
  packages/server/package.json
  packages/server/src/index.ts
  packages/server/src/server.ts
  packages/server/tsconfig.json
  packages/shared/src/interfaces/IWorkflowConfig.ts
  pnpm-lock.yaml
  tsconfig.base.json
  tsconfig.json
Labels: pr: feature, pr: needs review

#74 Docker
  .dockerignore
  .npmrc
  Dockerfile
  README.md
  docker-compose.yml
  docs/USE_CASE_EXAMPLES.md
  docs/docker-start.md
Labels: documentation, chore

#87 Automation - Add packaging and publishing of project
  .github/actions/build-docker/action.yml
  .github/workflows/develop-build.yml
  .github/workflows/prod-build.yml
  .github/workflows/pull-request-build.yml
Labels: documentation, chore
